body {
  background: #d3d1d1be;
}

.container {
  border-radius: 30px;
  border: 1px solid #000;
  background: #ffffff;
  max-width: 640px !important;
  padding: 0 24px;
}
.aaaa {
  position: relative;
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 18px;
  .fa-angle-down {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    padding: 1px;
    border: solid;
    border-radius: 50%;
  }

  .fa-angle-down:hover {
    width: 27px;
    height: 27px;
    padding: 2px;
  }
  .hide-list-view {
    display: none;
  }
  .list-view {
    position: absolute;
    display: inline;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px 10px;
    text-align: left;
    top: 40px;
    left: 50%;
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
  }
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: solid #d3d1d1be;
  .logo {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }
    a {
      color: #555050be;
    }
  }
}

.content-post {
  padding-top: 10px;
  border-bottom: solid #d3d1d1be;
  display: flex;
  .content-right {
    margin-right: 10px;
    .logo {
      position: relative;
      img {
        border-radius: 50%;
        object-fit: cover;
      }
      .follow {
        position: absolute;
        top: 20px;
        left: 20px;
        .fa-circle-plus {
          background: #fff;
          border-radius: 50%;
          border: solid #ffffff;
        }
      }
    }
  }

  .content-left {
    width: 100%;
    .top {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .link-profile {
        color: #000000bc;
        text-decoration: none;
      }
      .link-profile:hover {
        color: #198754;
      }
      .username {
        font-weight: 700;
        font-size: 14px;
        i {
          margin-left: 5px;
          color: blue;
        }
      }
      .time {
        font-size: 12px;
        color: #989898;
        i {
          color: #000;
          margin-left: 10px;
        }
      }
    }
    .title {
      margin-bottom: 10px;
      font-size: 14px;
      pre {
        font-family: "Roboto", sans-serif;
      }
    }
    .img-content {
      margin-bottom: 10px;
      img {
        border-radius: 10px;
        object-fit: cover;
      }
    }
    .icon {
      margin-bottom: 10px;
      i {
        margin-right: 15px;
      }
      i:hover {
        cursor: pointer;
      }
    }

    .liked {
      color: red;
    }

    .replies {
      font-size: 13px;
      color: #989898;
      margin-bottom: 10px;
    }
  }
}
