.navbar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.nav-content {
  display: flex;

  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .icon {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    transition: background-color 0.2s ease;
  }
  .icon:hover {
    background: rgb(151, 213, 151);
  }
}

.setting {
  position: relative;
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 18px;
  .fa-angle-down {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    padding: 1px;
    border: solid;
    border-radius: 50%;
  }

  .fa-angle-down:hover {
    width: 27px;
    height: 27px;
    padding: 2px;
  }
  .hide-list-view {
    display: none;
  }
  .list-view {
    width: 150px;
    position: absolute;
    display: inline;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 20px 10px;
    text-align: left;
    top: -100px;
    left: 70%;
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      p {
        margin: 0;
      }
      padding: 10px;
      gap: 10px;
      margin-bottom: 10px;
    }

    li:last-child {
      display: flex;
      align-items: center;
    }

    li:last-child:hover {
      cursor: pointer;
      background: #d3d1d1be;
      border-radius: 10px;
    }

    li:first-child {
      border-bottom: solid 1px #000;
      .icon-mode {
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
        color: #d3d1d1be;
        i:hover {
          cursor: pointer;
        }
      }

      .selected-mode {
        color: #000;
      }
    }
  }
}

.setting:hover {
  cursor: pointer;
}
.pin-menu {
  border-radius: 10px;
  background: transparent;
  position: absolute;
  bottom: 150px;
  left: 110px;
  i {
    margin-left: 3px;
    color: #198754;
    cursor: pointer;
  }
}
