.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  display: flex;
}
.loading-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
}

.pinned-views {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.pinned-views-1 {
  grid-template-columns: 1fr;
}

.pinned-views-2 {
  grid-template-columns: 1fr 1fr;
}

.pinned-views-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.pinned-view {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  background: #f9f9f9;
}

.pinned-view:active {
  cursor: grabbing;
}

.view-item {
  padding: 5px;
  cursor: grab;
}

.view-item.pinned {
  font-weight: bold;
}

.route-container {
  border-radius: 30px;
  height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
  overflow-y: auto; /* Cho phép cuộn dọc */
  padding: 20px;
}

.route-container::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
